.navbar
    .navbar-inner
        .container
            a.brand(href="/")
                strong EngSocial
            
            form#login-frm.form-inline.pull-right(action="/login", method="POST")
                - if (typeof loginEmailError != 'undefined')
                    .input-prepend.form-error(data-toggle="tooltip", data-placement="bottom", data-title="#{loginEmailError}")  
                        span.add-on
                            i.icon-envelope
                        input.input-medium(type="text", name="email", placeholder="email", value="#{loginEmail}")
                - else {
                    .input-prepend
                        span.add-on
                            i.icon-envelope
                        input.input-medium(type="text", name="email", placeholder="email", value="#{loginEmail}")
                - }
                
                - if (typeof loginPasswordError != 'undefined')
                    .input-prepend.form-error(data-toggle="tooltip", data-placement="bottom", data-title="#{loginPasswordError}")
                        span.add-on
                            i.icon-key
                        input.input-medium(type="password", name="password", placeholder="password")
                - else {
                    .input-prepend
                        span.add-on
                            i.icon-key
                        input.input-medium(type="password", name="password", placeholder="password")
                - }    
                        
                input.btn.btn-primary(type="submit", value="login")

            
.signup-wrapper
    p.register-title Register
    p.register-sologan to learn with fun
    form#signup-frm
        - if (typeof signupEmailError != 'undefined')
            input.form-error(type="text", name="email", placeholder="email", value="#{signupEmail}", data-toggle="tooltip", data-placement="right", data-title="#{signupEmailError}")
        - else {
            input(type="text", name="email", placeholder="email", value="#{signupEmail}")
        - }

        - if (typeof signupNicknameError != 'undefined')
            input.form-error(type="text", name="nickname", placeholder="nickname", value="#{signupNickname}", data-toggle="tooltip", data-placement="right", data-title="#{signupNicknameError}")
        - else {
            input(type="text", name="nickname", placeholder="nickname", value="#{signupNickname}")
        - }

        - if (typeof signupPasswordError != 'undefined')
            input.form-error(type="password", name="password", placeholder="password", data-toggle="tooltip", data-placement="right", data-title="#{signupPasswordError}")
        - else {
            input(type="password", name="password", placeholder="password")
        - }

        - if (typeof signupRepasswordError != 'undefined')
            input.form-error(type="password", name="repassword", placeholder="repassword", data-toggle="tooltip", data-placement="right", data-title="#{signupRepasswordError}")
        - else {
            input(type="password", name="repassword", placeholder="repassword")
        - }

        button#signup-btn.btn.btn-primary sign up
     
.login-content
    - if (typeof globalError != 'undefined')
        .alert.alert-error
            button.close(type="button", data-dismiss="alert") ×
            strong #{globalError.title}!
            |  #{globalError.msg}
            
    - if (typeof globalWarning != 'undefined')
        .alert.alert-warning
            button.close(type="button", data-dismiss="alert") ×
            strong #{globalWarning.title}!
            |  #{globalWarning.msg}   