extends layout

block mainContent
	div.main-content-wrapper
		h2 News feed

block mainScript
	script(src='/js/libs/require.js', data-main='js/index-boot', type='text/javascript')
	script(type='text/javascript')
		require(['jQuery'], function () {
			$('#dashboard-menu > li').removeClass('active');
			$('#newsfeed').addClass('active');
		});