doctype 5
html(lang="en")
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/font-awesome.css")
		link(rel="stylesheet", href="/css/rateit.css")
		link(rel="stylesheet", href="/css/theme.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="stylesheet", href="/css/style-responsive.css")
	body
		.navbar.navbar-fixed-top  
			.navbar-inner
				.container-fluid
					a.brand(href="/")
						strong EngSocial
					.search.pull-left
					ul.nav.pull-right
						li
							.avatar-wrapper
								img(src="#{avatar}")
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown")
								strong#username #{loggedNickname} 
								b.caret
							ul.dropdown-menu
								li
									.profile-dropdown.avatar-wrapper.large-avatar
										img(src="#{avatar}")
									.clearfix
								li.divider
								li
									a(href="/profile") Personal profile
								li
									a(href="/logout") Logout
		.main-wrapper
			#sidebar-nav
				ul#dashboard-menu.nav.nav-list
					li#newsfeed(data-toggle="tooltip", data-title="News feed", data-placement="right")
						a(href="/")
							i.icon-star-empty
							span News feed
					li#wall(data-toggle="tooltip", data-title="My wall", data-placement="right")
						a(href="/wall")
							i.icon-home
							span My wall
					li#personal-note(data-toggle="tooltip", data-title="Personal note", data-placement="right")
						a(href="/personal-note")
							i.icon-edit
							span Personal note
					li#profile(data-toggle="tooltip", data-title="Profile", data-placement="right")
						a(href="/profile")
							i.icon-list-alt
							span Profile
							
			#content
				div.container-fluid
					block mainContent
					
				.chat-sidebar-wrapper
					.chat-header
						strong Chat users
					.chat-sidebar
					.search-chat-wrapper
						input#search-chat-user(type="text", placeholder="Who are you looking...")
					ul.chat-dock-wrapper
			
			#awesome-people
				h2 Awesome people
				.awesome-wrapper.friends-grid
					#list-friend

		ul#list-alert
			li.alert.alert-block.alert-success.hide
				button.close(type="button", data-dismiss="alert")&times;
				h4
				p

			li.alert.alert-block.alert-error.hide
				button.close(type="button", data-dismiss="alert")&times;
				h4
				p

		#note-modal.modal.hide.fade
			form#note-frm
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h3 Note it
				.modal-body
					fieldset
						label(for='title') Note's title
						input.input-xlarge(name='title', type='text', placeholder='note title')
					fieldset
						label(for='tags') Note's tags
						input.input-xlarge(name='tags', type='text', placeholder='(not yet) each tag seperate by a comma')
					input#refAt(name="refAt", type="hidden")
					input#refOwner(name="refOwner", type="hidden")
				.modal-footer
					button.btn.btn-primary Save changes

		.footer
			.author.offset1
				p EngSocial - The social network for English learner
				p Author: Đồng Văn Sang
						
		script(src='/js/libs/helper.js', type='text/javascript')
		script(src='/js/libs/global.js', type='text/javascript')
		block mainScript
		script(src='/js/config.js', type='text/javascript')
		script(type='text/javascript')
			require(['jQuery'], function () {
				$(document).on('submit', '#note-frm', function (e) {
					$noteFrm = $(e.currentTarget);
					$.ajax({
						type: 'post',
						url: '/api/note',
						data: $noteFrm.serialize(),
						statusCode: {
							201: onSuccessCb,
							500: onErrorCb
						}
					});

					function onSuccessCb (note) {
						var $alert = $('#list-alert > ' + '.alert-success');
						$alert.find('h4').html('Add note sucess!');
						$alert.find('p').html('The note have added. You can check it on <a href="/personal-note">Personal note</a>');
						$('#note-modal').modal('hide');
						$alert.toggle('fast');
					}

					function onErrorCb (err) {
						var $alert = $('#list-alert > ' + '.alert-error');
						$alert.find('h4').html('Error!');
						$alert.find('p').html(err.responseText);
						$('#note-modal').modal('hide');
						$alert.toggle('fast');
					}

					return false;
				});

				window.onresize = function () {
					var height = window.innerHeight - 60 - 32 - 30 - 5,
					$chatSidebarWrapper = $('.chat-sidebar-wrapper');

					// layout chat sidebar
					if (window.innerWidth < 979) {
						$chatSidebarWrapper.addClass('dock');
						var chatSidebarWrapperHeight = window.innerHeight - 32;
						$chatSidebarWrapper.attr('style', 'top: ' + chatSidebarWrapperHeight + 'px');
					} else {
						$chatSidebarWrapper.removeClass('dock');
						$chatSidebarWrapper.removeAttr('style');
						$chatSidebarWrapper.removeClass('active');
						height += 20;
					}

					height = height < 100 ? 100 : height;
					$chatSidebarWrapper.find('.chat-sidebar').height(height);
				}
			});