doctype 5
html(lang="en")
    head
        title EngSocial Network
        link(rel="stylesheet", href="/css/font-awesome.css")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/theme.css")
        link(rel="stylesheet", href="/css/style.css")
        style
            body {
                background: url('/img/bg.jpg');
                margin-right: 0px;
            }

            .signup-wrapper {
                width: 400px;
                display: inline-block;
                background: rgba(255, 255, 255, 0.8);
                margin: 20px 20px 20px 50px;
                padding: 25px;
            }

            .navbar {
                min-width: 700px;
            }
    body
        include includes/login-body

        script(type="text/javascript", src="js/libs/jquery-1.8.3.js")
        script(type="text/javascript", src="js/libs/bootstrap.js")
        script(type="text/javascript", src="js/libs/global.js")
        script(type="text/javascript")
            $(document).ready(onReady);
            function onReady () {
                $(document).on('submit', '#signup-frm'
                , function (e) {
                    var $signupFrm = $(e.currentTarget);
                    $.ajax({
                        type: 'post',
                        url: '/signup',
                        data: $signupFrm.serialize(),
                        statusCode: {
                            200: function (data) {
                                location.href = '/';
                            },
                            500: function (res) {
                                $('body').html(res.responseText);
                                $('[data-toggle="tooltip"]').tooltip();
                            }
                        }
                    });
                    return false;
                });
            }