extends layout

block mainContent
	.main-content-wrapper
		h2 Personal note

block mainScript
	script(src='/js/libs/require.js', data-main="js/note-boot", type='text/javascript')
	script(type='text/javascript')
		require(['jQuery'], function () {
			$('#dashboard-menu > li').removeClass('active');
			$('#personal-note').addClass('active');
		});