extends layout

block mainContent
	.main-content-wrapper
		.row-fluid
			.profile.span9
				h2 #{user.nickname}'s profile
					span.label(class="label-#{user.level}") #{user.level}
					button.edit-profile.icon-edit.pull-right
				.avatar-wrapper
					img(src="#{user.avatar}")
					button#upload-btn.icon-upload

				form.personal-profile(action="/profile", method="post", enctype="multipart/form-data")
					.birthday-wrapper
						strong Birthday: 
						span.birthday(data-timestamp="#{user.birthday}") #{user.formatedBirthday}
					.address-wrapper
						strong Address: 
						span.address #{user.address}

					.avatar-upload-wrapper
					
					strong Total score: 
					.rateit(data-rateit-value="#{user.scoreObj.score}", data-rateit-max="4", data-rateit-readonly="true")
					| #{user.scoreObj.score} / #{user.scoreObj.amount} posts
					div
						strong Register in: 
						| #{user.formatedRegisterIn}

		.friends-grid
			h2
				i.icon-group
				|	Friends
			ul#list-friend

block mainScript
	script(src='/js/libs/require.js', data-main='js/profile-boot', type='text/javascript')
	script(type='text/javascript')
		require(['jQuery'], function () {
			$('#dashboard-menu > li').removeClass('active');
			$('#profile').addClass('active');

			var $profile = $('.profile'),
				$avatarWrapper = $profile.find('.avatar-wrapper'),
				$uploadBtn = $avatarWrapper.find('#upload-btn'),
				$birthdayWrapper = $profile.find('.birthday-wrapper'),
				$addressWrapper = $profile.find('.address-wrapper'),
				$avatarUploadWrapper = $profile.find('.avatar-upload-wrapper');

			var $editProfBtn = $('.edit-profile');
			$editProfBtn.click(function (e) {
				$editProfBtn.attr('disabled', 'disabled');

				var $birthday = $birthdayWrapper.find('.birthday');
				$birthday.detach();
				$birthdayWrapper.append('<input type="date" name="birthday">');
				if ($birthday.data('timestamp') !== 'unknown')
					$birthdayWrapper.find('input[type="date"]').val(new Date($birthday.data('timestamp')).toJSON().slice(0, 10));


				var $address = $addressWrapper.find('.address');
				$address.detach();
				$addressWrapper.append('<input type="text" name="address" value="' + $address.text().trim() + '">');

				$profile.find('.personal-profile').append('<input type="submit" value="Save change" />');

				$avatarUploadWrapper.append('<strong>Avatar: </strong><input id="file-upload" name="avatar" type="file">');
			});

			// hack code, invisible awesome people
			$('#awesome-people').detach(); 
		});