extends layout

block mainContent
	div.wrapper.main-content-wrapper
		div.rate-total-score
			div.wrapper
				div Total point: 
					span 1.3
				div Level: 
					span Intermediate
		ul#rate-list.main-list
			li
				article(id="1").post.rate
					div.rate-score-wrapper.pull-left
						span 2.5
					div.rate-wrapper
						span In your status: 
						span a short version of status...
						p Have 3 people rate this
						div.rate-description-details
							ul.post-details
								li
									div
										| Son Nguyen rated 
										span.score
										| at 2013/03/29 09:30
								li
									div
										| Son Nguyen rated 
										span.score
										| at 2013/03/29 09:30
								li
									div
										| Son Nguyen rated 
										span.score
										| at 2013/03/29 09:30