extends layout

block mainContent
	.main-content-wrapper
		h2 #{nickname}'s wall
			- if (isFriend) {
				button.es-btn-link.pull-right Unfriend
			- } else {
				button.es-btn-link.pull-right Add friend
			- }

	.sibling-wall(id="#{userId}")

block mainScript
	script(src='/js/libs/require.js', data-main='js/sibling-wall-boot', type='text/javascript')