extends layout

block mainContent
	.main-content-wrapper
		h2 My wall
		textarea.input-post.status-txt(placeholder="your feed...")

block mainScript
	script(src='/js/libs/require.js', data-main='js/wall-boot', type='text/javascript')
	script(type='text/javascript')
		require(['jQuery'], function () {
			$('#dashboard-menu > li').removeClass('active');
			$('#wall').addClass('active');
		});