form {
    margin: 0px;
}

h3 {
    margin-top: 0px;
}

body {
    margin-right: 230px;
    background: url('/img/bg_texture.jpg');
}

a {
    text-decoration: none;
    color: #17658c;
    outline: 0 none;
}
    a:hover {
        text-decoration: underline;
    }

#sidebar-nav i {
    margin-right: 5px;
}

.post .close {
    margin-top: -3px;
    margin-right: 10px;
}

.footer {
    margin-left: 170px;
    margin-right: 20px;
    margin-top: 40px;
    border-top: 2px solid #356094;
    height: 100px;
}

.author {
    margin-top: 20px;
}
    .author > p {
        margin-bottom: 0px;
    }

ul, ol {
    list-style: none;
    margin: 0px;
}

.navbar {
    min-width: 675px;
}

.tooltip {
    line-height: 1em;
}

/*.tooltip-arrow {
    margin-top: -5px !important;
}*/

.tooltip-inner {
    padding: 5px;
}

.loading-with-text {
    min-height: 90px;
    width: 100%;
    background: url('/img/loading.gif') repeat-y;
    background-size: 200px;
    background-position: 160px 129px;
}

#content {
    min-height: 400px;
    min-width: 540px;
    background: #fff;
    margin-left: 150px;
    margin-top: 20px;
    border: 1px solid #cfcfd6;
}

#awesome-people {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 150px;
    margin-top: 20px;
    border: 1px solid #cfcfd6;
    min-height: 200px;
    min-width: 500px;
}
    #awesome-people h2 {
        vertical-align: bottom;
        border-bottom: 5px solid #356094;
        padding: 5px 5px 3px 5px;
        line-height: 20px;
    }

.awesome-wrapper {
    margin-top: 20px;
}

.wrapper {
    padding: 1em;
}

.main-content-wrapper {
    margin: 1em 0px;
}
    .main-content-wrapper h2 {
        background: url('/img/bg_texture.jpg');
        margin-top: 0px;
        vertical-align: bottom;
        padding: 5px 5px 3px 5px;
        line-height: 20px;
        -webkit-box-shadow: inset 0 0px 6px #aeb9b6;
        -moz-box-shadow: inset 0 0px 6px #aeb9b6;
        box-shadow: inset 0 0px 6px #aeb9b6;
    }

.es-btn-link {
    color: #17658c;
    font-size: 12px;
    line-height: 14px;
    padding: 0px;
    border: none;
    text-decoration: none;
    text-shadow: none;
    background: none;
}

    .es-btn-link:hover {
        text-decoration: underline;
    }
    .es-btn-link:focus {
        outline: none;
        color: #17658c;
    }

.avatar-wrapper {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    float: left;
}
    .avatar-wrapper > img {
        background: url('/img/default-avatar.jpg');
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 100%;
        height: 100%;
    }

.comment .edit {
    line-height: 0.9em;
}

.comment .avatar-wrapper, .edit .avatar-wrapper {
    height: 32px;
    width: 32px;
}

.comment .li-content, .edit .li-content {
    margin-left: 35px;
}

.post-header {
    padding-right: 25px;
}

.comment .post-header, .edit .post-header {
    line-height: 12px;
}

.comment .post-main-content, edit .post-main-content {
    line-height: 14px;
}

.comment .post-action > em {
    font-size: 12px;
}

.edit .post-action {
    margin-top: 0px;
}

.li-content {
    margin-left: 50px;
}

#list-post {
    margin-top: 20px;
}

#list-post > li {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}
    #list-post > li:last-child {
        border-bottom: none !important;
        padding-bottom: 0px;
    }
    #list-post > li:first-child {
        padding-top: 0px;
    }

.post > img {
    margin-top: 3px;
    margin-left: 3px;
}

.post-action {
    margin-top: 3px;
    position: relative;
}
    .post-action button {
        margin-right: 5px;
    }
    .post-action .report button {
        margin-right: 0px;
        margin-left: 5px;
    }

.rateit {
    vertical-align: middle;
}

.rate-score {
    vertical-align: middle;
}
    .rate-score img {
        height: 13px;
    }

.post-score {
    display: inline;
    padding: 0px 5px;
}

.score {
    font-weight: bold;
    color: #7F8C8D;
}

.post .post .report {
    margin-right: 10px;
}

.post-message-wrapper em {
    font-size: 0.9em;
}

.post-message {
    line-height: 18px !important;
    margin-bottom: 0px;
}

.note-quote {
    margin-top: 5px;
    font-style: italic;
}

.report-rate-score {
    text-align: right;
    display: inline-block;
    vertical-align: text-bottom;
}

.post-wrapper {
    margin-left: 50px;
}
    .post-wrapper h5 {
        margin-top: 0px;
    }
        .post-wrapper h5 em {
            color: #777;
            font-size: 0.9em;
        }

.comment-txt {
    top: 18px;
    left: 0px;
    width: 98%;
    margin: 5px 0px;
}

#status-frm {
    border-bottom: 2px solid #ccc;
    margin: 0px;
    padding-bottom: 15px;
}

.input-post {
    resize: none !important;
}

.input-status {
    background: #dadada;
    margin-top: 20px;
}
    .input-status:hover {
        background: #cacaca;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }

.status-txt {
    width: 98%;
    margin-bottom: 0px;
}

.grid:first-child {
    margin-right: 0px;
}

.popover {
    width: auto;
    max-width: 433px;
}

.list-wrapper {
    background: url('/img/comment-bg.png');
    margin: 5px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px #aeb9b6;
    -moz-box-shadow: inset 0 1px 4px #aeb9b6;
    box-shadow: inset 0 1px 4px #aeb9b6;
}
    .list-wrapper li {
        border-bottom: 1px solid #ccc;
        padding-top: 5px;
    }

    .list-wrapper li:last-child {
        border-bottom: none !important;
        padding-bottom: 0px;
    }

    .list-wrapper li:first-child {
        padding-top: 0px;
    }

.rating-wrapper {
    height: 18px;
}
 .rating-wrapper strong {
    padding-left: 8px;
    font-size: 1.5em;
 }


.grid .avatar-wrapper {
    margin: 0px auto;
}

.profile {
    line-height: 20px;
}

.popover-content > .profile {
    margin-top: 0px;
}


.profile .avatar-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}
    .profile > .avatar-wrapper > .upload-img-btn {
        position: absolute;
        display: none;
        line-height: 12px;
        top: 3px;
        right: 3px;
    }

    .profile h2 > span {
        margin-left: 5px;
        vertical-align: middle;
    }


#upload-btn {
    display: none;
    position: absolute;
    right: 3px;
    top: 3px;
}

.personal-profile {
    margin-left: 115px;
}

.personal-profile > div {
    margin-bottom:  5px;
}

.eng-profile {
    margin-top: 20px;
}

.eng-profile > div {
    margin-bottom: 5px;
}

.global-err-wrapper {
    width: 400px;
    position: fixed;
    opacity: 0.8;
    bottom: 0px;
    right: 25px;
}

.clear-search-wrapper {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddde2), color-stop(1, #f9f9f9));
    background: -ms-linear-gradient(bottom, #dddde2, #f9f9f9);
    background: -moz-linear-gradient(center bottom, #dddde2 0%, #f9f9f9 100%);
    background: -o-linear-gradient(bottom, #dddde2, #f9f9f9);
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    text-align: center
}

.search-results-wrapper {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    left: 0px;
    top: 36px;
    width: 500px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.6);
}

.not-found {
    text-align: center;
    font-size: 20px;
    color: #ccc;
    padding: 15px 0px;
}

#search-results {
    padding: 5px 0px;
}

    #search-results > li:hover {
        background: #ddd;
    }

.search-wrapper {
    position: relative;
    background: #f1f1f1;
    margin: 4px 0px;
    border-radius: 5px;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #fafafa;
}

.search-wrapper > i {
    margin: 5px 6px 0px 5px;
}

.search-wrapper i {
    color: #999;
    font-size: 1.5em;
    vertical-align: middle;
}

.search-results-item {
    padding: 10px 15px;
}

.clear-input {
    background: none !important;
    border: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    margin: 0px !important;
    resize: none !important;
}
    .clear-input:focus {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

#search-txt {
    color: #999;
    margin: 0px;
    font-size: 1.2em;
    padding-left: 0px;
    padding-right: 0px;
}

.note > .li-content {
    margin-left: 80px;
}

.datetime-wrapper {
    background: #dedede;
    padding: 5px;
    font-size: 1.3em;
    width: 60px;
    text-align: center;
}
    .datetime-wrapper .month {
        line-height: 1.3em;
    }
    .datetime-wrapper .date {
        font-size: 1.5em;
        line-height: 1.3em;
    }

.tag-wrapper {
    margin-left: 10px;
}

.tag {
    margin-right: 5px;
}

.friend-card {
    width: auto;
    height: auto;
}
    .friend-card h5, .friend-card h6 {
        margin: 0px;
    }

.name-wrapper {
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    line-height: 14px;
    padding: 3px;
    height: 36px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
    .name-wrapper:hover {
        cursor: default;
        height: 85px;
    }

    .name-wrapper em {
        font-size: 0.9em;
    }

    .name-wrapper > div {
        margin-bottom: 5px;
    }

    .name {
        position: relative;
    }
        .add-friend-btn {
            float: right;
            font-size: 0.8em;
            line-height: 1.2em;
            padding: 2px;
        }

.friends-grid {
    margin-top: 20px;
    margin-bottom: 20px
}

.friend-card .avatar-wrapper {
    position: relative;
    width: 130px;
    height: 130px;
}

.friend-card .avatar-wrapper > img {
    width: 100%;
    height: 100%;
}

.friend-card-details {
    background: url('/img/black-texture.jpg');
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 25px #333333;
    -moz-box-shadow: inset 0 0 25px #333333;
    box-shadow: inset 0 0 25px #333333;
    margin-top: 10px;
    width: 100%;
    height: 0px;
    opacity: 0;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    overflow: hidden;
}

#list-friend > li {
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block !important; /* fix firefox bug */
    width: 130px;
}

.list-friend-wrapper {
    position: relative;
    padding: 4px;
    margin: 0px 3px;
    height: 40px;
    width: 172px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url('/img/comment-bg.png');
    -webkit-box-shadow: inset 0 1px 4px #aeb9b6;
    -moz-box-shadow: inset 0 1px 4px #aeb9b6;
    box-shadow: inset 0 1px 4px #aeb9b6;
}

.friend-slide {
    position: absolute;
    left: 4px;
    width: 1000px;
}

.friend-slide-wrapper {
    padding-top: 3px;
}
    .friend-slide-wrapper button {
        padding: 0px 2px;
    }

.friend-slide > li {
    margin-right: 3px;
}
    .friend-slide > li:last-child {
        margin-right: 0px;
    }

.profile-details > div {
    margin: 5px 0px;
}

.activity-details {
    padding-left: 15px;
    border-left: 1px dashed #ccc;
}

.activity-list p {
    color: #aaa;
}

.nickname {
    font-weight: bold;
    color: #17658c;
}

.popover h3 {
    margin-top: 0px;
    line-height: 20px;
}

.popover-title {
    display: none;
}

.chat-sidebar-wrapper {
    position: fixed;
    width: 210px;
    background: #fafafa;
    border: 1px solid #cfcfd6;
    top: 40px;
    right: 0px;
    bottom: 0px;
    z-index: 19;
}

.dock {
    top: 60px;
    right: 10px;
}

    .dock > .chat-dock-wrapper {
        right: 230px;
    }

.main-wrapper {
    margin-top: 60px;
}

.search-chat-wrapper {
    width: 100%;
    padding: 2px;
}

.search-chat-wrapper > input {
    margin: 0px;
    width: 92%;
}

.contact-status-wrapper {
    float: right;
}

.online, .offline, .away, .busy {
    margin-right: 5px;
    width: 7px;
    height: 7px;
    background: url("/img/contact.png") 0px 0px no-repeat;
    display: block;
}

.offline {
    background-position: 0px -24px;
}

#list-comment > li, #list-edit > li {
    padding-left: 7px;
    padding-right: 7px;
}
    #list-comment > li:first-child, #list-edit > li:first-child {
        padding-top: 7px;
    }
    #list-comment > li:last-child, #list-edit > li:last-child {
        padding-bottom: 7px;
    }

#list-chat-users > li {
    padding: 2px;
    border-left: 1px solid #EEE;
    border-bottom: 1px solid #C2C2C2;
    background: #FAFAFA;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#EFEFEF));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
    background: linear-gradient(to bottom, #FAFAFA 0%,#EFEFEF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
}
    #list-chat-users > li:hover {
        background: #dadada;
        cursor: pointer;
    }

.chat-user em {
    min-height: 20px;
    display: block;
}

.chat-user > .avatar-wrapper {
    height: 28px;
    width: 28px;
}

.chat-user > .li-content {
    margin-left: 34px;
}

.chat-user > span {
    margin-left: 3px;
    vertical-align: middle;
}

#list-active {
    background: #aaa;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#list-active > li {
    display: inline;
}

.popmenu {
    position: absolute;
    top: 0px;
    left: 200px;
    height: 200px;
    width: 120px;
    background: #aaa;
    border: 1px solid #eee;
}

p > em {
    border: 1px dashed RED;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1em !important;
    font-style: normal;
}
    p > em:hover {
        background: rgba(150, 0, 0, 0.1);
        cursor: default;
    }

.editor-wrapper {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.editable .popover-content {
    padding: 0px;
}

.tab-content {
    overflow: visible;
    padding: 0px;
}

.edit-text {
    cursor: default;
    color: #b94a48;
    background-color: #f2dede;
    border: 1px dashed #eed3d7;
    padding: 0px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.edit-to {
    cursor: pointer;
  color: #468847;
    background-color: #d6e9c6;
    border: 1px dashed #ddd;
    padding: 0px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.highlight {
    background: RGBA(200, 0, 0, 0.1);
    border: 1px dashed #f00;
}

.loading-bigicon {
    background: url('/img/loading_bigicon.gif');
    width: 300px;
    height: 150px;
}

.login-content {
    padding: 20px;
}

#login-frm {
    margin-bottom: 0px;
    margin-top: 5px;
}

#login-frm > .input-prepend {
    margin: 0px 5px 0px 0px;
}

#login-frm > input {
    margin: 0px;
}

#signup-frm > input {
    display: block;
    font-size: 20px;
    padding: 10px;
    width: 92%;
}

.register-title {
    color: #888;
    font-size: 36px;
    font-weight: bold;
}

.register-sologan {
    color: #aaa;
    font-size: 20px;
}

#signup-btn {
    font-size: 20px;
    height: 35px;
    width: 110px;
}

.form-error {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
  border: 1px solid #dd4b39 !important;
}

.dropdown:hover {
    cursor: pointer;
}

.more {
    color: #17658c;
    text-align: center;
    background: rgba(200,200,200, 0.2);
    padding: 1px !important;
    border-top: 1px solid #ccc;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.more:hover {
    cursor: pointer;
    background: rgba(200,200,200, 0.1);
}

.label-beginner {
    background-color: #2980B9;
}

.label-intermediate {
    background-color: #8E44AD;
}

.label-advanced {
    background-color: #C0392B;
}

.chat-header {
    color: #666;
    padding: 5px;
    font-size: 18px;
    border-bottom: 1px solid #aaa;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddde2), color-stop(1, #f9f9f9));
    background: -ms-linear-gradient(bottom, #dddde2, #f9f9f9);
    background: -moz-linear-gradient(center bottom, #dddde2 0%, #f9f9f9 100%);
    background: -o-linear-gradient(bottom, #dddde2, #f9f9f9);
}

.edit-profile {
    line-height: 12px;
}

.edit-profile:hover {
    cursor: pointer;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;

}

.chat-dock-wrapper {
    position: fixed;
    right: 220px;
    bottom: 0px;
    z-index: 1;
}

.chat-dock {
    position: relative;
    width: 250px;
    border: 1px solid #666;
    background: #fff;
    margin-left: 10px;
}

.chat-dock-header {
    padding: 3px 8px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddde2), color-stop(1, #f9f9f9));
    background: -ms-linear-gradient(bottom, #dddde2, #f9f9f9);
    background: -moz-linear-gradient(center bottom, #dddde2 0%, #f9f9f9 100%);
    background: -o-linear-gradient(bottom, #dddde2, #f9f9f9);
    border-bottom: 1px solid #999;
}

.chat-dock-header:hover {
    cursor: pointer;
    position: relative;
}

.chat-dock-status {
    margin-top: 7px;
    float: left;
}

.small-avatar {
    height: 32px;
    width: 32px;
}

.large-avatar {
    height: 128px;
    width: 128px;
}

.conversation {
    margin-top: 5px;
}

.messages > li {
    border-bottom: 1px solid #ccc;
}

.message {
    margin-left: 40px;
    line-height: 1em;
    font-size: 13px;
}

.message-item {
    position: relative;
    border-top: 1px solid #eee;
}
    .message-item:last-child {
        border-bottom: none;
        padding-bottom: 0px;
    }

.message-content {
    padding: 5px;
}

.txt-wrapper {
    border: 1px solid #ddd;
    margin: 3px;
}

.profile-dropdown {
    margin: 10px 15px 5px 15px;
}

.slimScrollDiv {
    overflow: visible !important;
}

.input-msg-txt {
    width: 96%;
}

.short-timestamp {
    position: absolute;
    display: none;
    font-size: 10px;
    font-style: italic;
    color: #555;
    background: #fff;
    padding-left: 3px;
    padding-right: 8px;
    right: 0px;
    top: -8px;
    line-height: 14px;
}

#list-alert {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
    #list-alert > li {
        margin-bottom: 0px;
    }











/* custom dropdown */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #3c7db3;
}

.navbar .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: #C9CCD0;
  position: absolute;
  top: -7px;
  left: 9px;
}
.navbar .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f9f9fa;
  position: absolute;
  top: -6px;
  left: 10px;
}
.navbar .dropdown-menu li:first-child a {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
.navbar .dropdown-menu li:last-child a {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}
.navbar .dropdown-menu li > a {
  color: #17658c;
  padding: 5px 15px 3px 15px;
}
.navbar .dropdown-menu li > a:hover {
  background: #DCDEE4;
  -webkit-box-shadow: inset 0 1px 0 #BABDC5, 0 1px 0 #FFFFFF;
  -moz-box-shadow: inset 0 1px 0 #BABDC5, 0 1px 0 #FFFFFF;
  box-shadow: inset 0 1px 0 #BABDC5, 0 1px 0 #FFFFFF;
}

.navbar-inner .dropdown-menu {
  margin-top: 8px;
  padding: 5px 0 10px 0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    border: solid 1px #c9ccd0;
    background: #EFEFEF;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #f9f9f9, #efefef);
    background-image: -ms-linear-gradient(top, #f9f9f9, #efefef);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#efefef));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #efefef);
    background-image: -o-linear-gradient(top, #f9f9f9, #efefef);
    background-image: linear-gradient(top, #f9f9f9, #efefef);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#efefef', GradientType=0);
}
.dropdown.open .divider {
  margin-bottom: 12px;
  background: none;
  border-bottom: 1px solid #D6D6D6;
  -webkit-box-shadow: 0 1px 0px #FFFFFF;
  -moz-box-shadow: 0 1px 0px #FFFFFF;
  box-shadow: 0 1px 0px #FFFFFF;
}