@media (max-width: 979px) {
	body {
		margin-right: 0px;
	}

	.navbar-fixed-top {
		position: fixed;
	}
	.navbar-fixed-top .navbar-inner {
		padding: 0px;
	}
	
	.main-wrapper {
		margin-right: 20px;
	}

	.chat-header:hover, .chat-header:focus {
		color: #fff;
		cursor: pointer;
    background: #356094;
    text-decoration: none;
	}

}

@media (max-width: 767px) {
	.container-fluid {
		padding-right: 20px;
		padding-left: 20px;
	}
}