<div class="chat-user">
	<div class="avatar-wrapper">
		<img src='<%= avatar %>'>
	</div>
	<span><%= nickname %></span>
	<div class="contact-status-wrapper">
		<% if (isOnline) { %>
			<i class="online"></i>
		<% } else { %>
			<i class="offline"></i>
		<% } %>
	</div>
	<div class="clearfix"></div>
</div>