<div class="chat-dock-header">
    <i class="close">×</i>
    <div class="chat-dock-status">
			<% if (isOnline) { %>
				<i class="online"></i>
			<% } else { %>
				<i class="offline"></i>
			<% } %>
		</div>
    <a href="/<%= receiver.nickname %>" data-placement="top"><strong><%= receiver.nickname %></strong></a>
</div>
<div class="scrollable-wrapper">
    <div class="scrollable">
    </div>
</div>
<div class="txt-wrapper">
    <textarea class="input-msg-txt clear-input" placeholder="send message"></textarea>
</div>