<div id="<%= id %>" class="post edit">
	<div class="avatar-wrapper pull-left">
		<img class="littleIcon" src="<%= avatar %>">
	</div>
	<div class="li-content">
		<div class="post-main-content">
			<button class="close hide" type="button">×</button>
			<div class="post-message-wrapper">
        <div class="post-header">
    			<a class="nickname" data-toggle="popover" href="/<%= nickname %>"><%= nickname %></a>
    			<span class="post-message"><%= content %></span>	
				</div>
				<div>
					<span class="edit-text"><%= editText %></span> --> 
					<span class="edit-to" data-toggle="tooltip" data-trigger="hover" data-title="click to accept this edition"><%= editTo %></span>
				</div>
	    	<div class="post-action">
	    		<em class="live-timestamp" data-timestamp="<%= createdIn %>"><%= liveTimestamp %></em>
					<button class="es-btn-link like-btn comment-like-btn"><% if (liked) { %>Unlike<% } else { %>Like<% } %></button>
					<button class="es-btn-link rate-btn" data-toggle="tooltip" data-score="<%= rated %>">Rate</button>
					<div class="report pull-right">
						<button class="report-like-btn es-btn-link" data-toggle="popover" data-html="true"><%= likes.length %> like</button>
						<div class="rateit" data-rateit-value="<%= ratingTotalScore %>" data-rateit-max="4", data-rateit-readonly="true"></div>
						<button class="report-rate-btn es-btn-link" data-toggle="popover" data-html="true"><span class="total-score"><%= ratingTotalScore %></span> / <span class="amount-rate"><%= amountRate %></span> rate</button>
					</div> <!-- eng report -->
				</div> <!-- end post-action -->
			</div>
		</div>
	</div> <!-- end li-content -->
	<div class="clearfix"></div>
</div>