<div class="friend-card">
	<div class="avatar-wrapper"><img src="<%= avatar %>"/>
		<div class="name-wrapper">
			<div class="name">
				<div>
					<h5><a href="/<%= nickname %>" ><%= nickname %></a></h5>
					<div class="user-score-wrapper">
						<div class="rateit" data-rateit-value="<%= scoreObj.score %>" data-rateit-max="4" data-rateit-readonly="true"></div>
						<div><%= scoreObj.score %> / <%= scoreObj.amount %> posts</div>
					</div>
				</div>
				<div>
					<h6>Register in</h6><em><%= formatedRegisterIn %></em>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>