<div class="message-content">
  <a href="/<%= user.nickname %>">
      <img class="pull-left small-avatar" src="<%= user.avatar %>" data-toggle="tooltip" data-placement="left" data-title="<%= user.nickname %>" data-trigger="hover">
  </a>
  <p class="message"><%= msg %></p>
  <span class="short-timestamp live-timestamp" data-timestamp="<%= timestamp %>"><%= liveTimestamp %></span>
  <div class="clearfix"></div>
</div>