<div id="sang" class="post note">
	<div class="datetime-wrapper label label-info pull-left">
		<div class="month"><strong><%= month %></strong></div>
		<div class="date"><%= date %></div>
	</div>
	<div class="li-content">
		<div class="post-main-content">
			<button type="button" class="close hide">×</button>
			<div>
				<strong><%= title %></strong>
				<div>
					<em class="reference">
						<span>Reference from <a href="/<%= refOwner %>"><%= refOwner %></a>'s	<a href="/status/<%= refAt %>">status</a></span>
					</em>
					<span class="tag-wrapper">
						<span class="tag label label-success">Skill</span>
						<span class="tag label label-warning">Grammar</span>
					</span>
				</div>
			</div>

			<p class="post-message note-quote"><%= content %></p>

			<div class="post-action">
				<button class="es-btn-link like-btn">
					<% if (liked) { %>Unlike
					<% } else { %>Like<% } %>
				</button>
				<button class="es-btn-link comment-btn">Comment</button>
				<div class="report pull-right">
					<button data-toggle="popover" data-html="true" class="report-like-btn es-btn-link"><%= amountLike %> like</button>
					<button class="report-comment-btn es-btn-link"><%= amountComment %> comment</button>
				</div>
			</div>
		</div>
		<div class="list-wrapper">
			<div class="list-comment-wrapper"></div>
		</div>
		<textarea placeholder="your comment..." class="input-post comment-txt hide"></textarea>
	</div> <!-- end li-content -->
	<div class="clearfix"></div>
</article>