<div class="editor-wrapper">
	<form id="editFrm" action="/api/edit" method="post">
		<div class="modal-body">
			<input name="editText" type="hidden" value="<%= editText %>">
			<label for="editTo">Edit to</label>
			<input id="edit-txt" class="input-xlarge" name="editTo" type="text" value="<%= editText %>">
			<label for="editComment">Your comment</label>
			<textarea id="edit-comment" class="input-xlarge" name="content" placeholder="why..."></textarea>
		</div>
		<div class="modal-footer">
			<input class="btn" type="reset" value="reset">
			<input class="btn btn-primary" type="submit" value="edit">
		</div>
	</form>
</div>