<div class="profile">
	<h2>
		<%= nickname %>'s profile
		<span class="label label-<%= level %>"><%= level %></span>
	</h2>
	<div class="avatar-wrapper">
		<img src="<%= avatar %>">
	</div>
	<div class="personal-profile">
		<div>
			<strong>Birthday: </strong>
			<%= birthday %>
		</div>
		<div>
			<strong>Address: </strong>
			<%= address %>
		</div>
		<div>
			<strong>Score: </strong>
			<div class="rateit" data-rateit-value="<%= scoreObj.score %>", data-rateit-max="4", data-rateit-readonly="true")></div>
			<%= scoreObj.score %> / <%= scoreObj.amount %> posts
		</div>
		<div>
			<strong>Register in: </strong>
			<%= registerIn %>
		</div>
	</div>
	<div class="clearfix"></div>
</div>