<li>
	<article id="<%= id %>" class="post rate">
		<div class="rate-score-wrapper pull-left"><span></span></div>
		<div class="rate-wrapper"><span>In your status: </span><span>a short version of status...</span>
			<p>Have 3 people rate this</p>
			<div class="rate-description-details">
				<ul class="post-details">
					<li>
						<div>Son Nguyen rated <span class="score"></span>at 2013/03/29 09:30</div>
					</li>
					<li>
						<div>Son Nguyen rated <span class="score"></span>at 2013/03/29 09:30</div>
					</li>
					<li>
						<div>Son Nguyen rated <span class="score"></span>at 2013/03/29 09:30</div>
					</li>
				</ul>
			</div>
		</div>
	</article>
</li>