<div id="<%= id %>" class="search-results-item">
	<div class="avatar-wrapper pull-left">
		<img class="littleIcon" src="<%= avatar %>">
	</div>
	<div class="post-wrapper">
		<div class="post-content">
			<button class="close hide" type="button"> x </button>
			<div class="post-message">
				<div>
					<a class="nickname" href="/<%= nickname %>"><%= nickname %></a>
					<em>  <%= currentStatus %></em>
				</div>
				<span class="label label-<%= level %>"><%= level %></span>
					<div class="rateit" data-rateit-value="<%= scoreObj.score %>" data-rateit-max="4", data-rateit-readonly="true"></div>  <%= scoreObj.score %> / <%= scoreObj.amount %> post
				<% if (isFriend) { %>
					<button class="add-friend-btn es-btn-link">Unfriend</button>
				<% } else { %>
					<button class="add-friend-btn es-btn-link">Add friend</button>
				<% } %>
			</div>
		</div> <!-- end post-content -->
	</div> <!-- end post-wrapper -->
	<div class="clearfix"></div>
</div>