<div class="search-wrapper">
	<i class="icon-search"></i>
	<input id="search-txt" class="clear-input" type="text" placeholder="Find friends...">
	<div class="clear-search-wrapper">
		<i id="clear-search" class="icon-trash"></i>
	</div>
	<div class="search-results-wrapper hide">
		<div class="scrollable-wrapper"></div>
	</div>
</div>