<div id="<%= id %>" class="post status">
	<div class="avatar-wrapper pull-left">
		<img class="littleIcon" src="<%= avatar %>">
	</div>
	<div class="li-content">
		<div class="post-main-content">
			<button class="close hide" type="button">×</button>
			<div class="post-message-wrapper">
				<a class="nickname" data-toggle="popover" href="/<%= nickname %>"><%= nickname %></a>
				  · 
				<em class="live-timestamp" data-timestamp="<%= createdIn %>" ><%= createdInFormated %></em>
				<p class="post-message editable"> <%= content %></p>
			</div>
			<div class="post-action">
				<button class="es-btn-link like-btn status-like-btn"><% if (liked) { %>Unlike<% } else { %>Like<% } %></button>
				<button class="es-btn-link comment-btn">Comment</button>
				<button class="es-btn-link note-btn" href="#note-modal" data-toggle="modal">Note</button>
				<button class="es-btn-link rate-btn" data-toggle="tooltip" data-score="<%= rated %>">Rate</button>
				<div class="report pull-right">
					<button class="report-like-btn es-btn-link" data-toggle="popover" data-html="true"><%= likes.length %> like</button>
					<button href="#tabComment<%= id %>" data-toggle="tab" class="report-comment-btn es-btn-link"><%= amountComment %> comment</button>
					<button href="#tabEdit<%= id %>" data-toggle="tab" class="report-edit-btn es-btn-link"><%= amountEdit %> edit</button>
					<div class="rateit" data-rateit-value="<%= ratingTotalScore %>" data-rateit-max="4", data-rateit-readonly="true"></div>
					<button class="report-rate-btn es-btn-link" data-toggle="popover" data-html="true"><span class="total-score"><%= ratingTotalScore %></span> / <span class="amount-rate"><%= amountRate %></span> rate</button>
				</div> <!-- eng report -->
			</div> <!-- end post-action -->
		</div>
		<div class="tab-content">
			<div id="tabComment<%= id %>" class="tab-pane list-wrapper">
				<div class="list-comment-wrapper"></div>
			</div>
			<div id="tabEdit<%= id %>" class="tab-pane list-wrapper">
				<div class="list-edit-wrapper"></div>
			</div>
		</div>
		<textarea class="input-post comment-txt hide" placeholder="your comment..."></textarea>
	</div> <!-- end li-content -->
		
	<div class="clearfix"></div>
</div>